#root {
    margin: 0 auto;
    text-align: center;
  }

  body {
    background: linear-gradient(10deg, #ffffff, #ffffff, #ffd7ac, #ffffff);
    /* background: linear-gradient(10deg, #ffffff, #ffe8d5, #000000, #ffffff); */
    background-size: 800% 800%;
    animation: gradientBG 5s ease infinite;
  }
  
  @keyframes gradientBG {
    0% {background-position: 0% 50%;}
    50% {background-position: 50% 40%;}
    100% {background-position: 0% 50%;}
  }
  
  