body {
  text-align: center;
}

/* Orange */
.custom-btn {
  color: #f5f5f5;
  background: #CD853F;
  border-radius: 10px;
  border: transparent 2px solid;
  width: 100%;
  padding-block: 5px;
}

.custom-btn:hover {
  color: #CD853F;
  background: #f5f5f5;
  border: solid 2px #CD853F;
}

/* White and border */
.custom-btn2 {
  color: #000000;
  background: #f5f5f5;
  border-radius: 10px;
  border: #8B8B8B 1px solid;
  width: 100%;
  height: 50px;
  padding-block: 5px;
}

.genre-blob {
  margin-right: 10px;
  padding-block: 5px;
  padding-inline: 10px;
  background-color: #CD853F;
  color: #f5f5f5;
  border-radius: 20px;
  font-size: 1.5rem;
}

.header-recommend {
  text-align: left;
  margin-left: 15px;
  font-size: 2.5rem;
}

.scroll-arrow {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  color: #f5f5f5;
}

.thumbnail {
  margin-inline: 12px;
  background-color: #E1E1E1;
  object-fit: cover;
  position: relative;
  aspect-ratio: 2/3;
  overflow: hidden;
  white-space: nowrap;
}

.thumbnail-grid {
  display: grid;
  grid-template-columns: repeat(8, minmax(256px, 1fr));
  row-gap: 15px;
}

.thumbnail img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


@media (max-width: 2304px) {
  .thumbnail-grid {
      grid-template-columns: repeat(7, minmax(256px, 1fr));
  }
}

@media (max-width: 2048px) {
  .thumbnail-grid {
      grid-template-columns: repeat(6, minmax(256px, 1fr));
  }
}

@media (max-width: 1792px) {
  .thumbnail-grid {
      grid-template-columns: repeat(5, minmax(256px, 1fr));
  }
}

@media (max-width: 1664px) {
  .thumbnail-grid {
      grid-template-columns: repeat(4, minmax(256px, 1fr));
  }
}

@media (max-width: 1536px) {
  .thumbnail-grid {
      grid-template-columns: repeat(3, minmax(256px, 1fr));
  }
}

@media (max-width: 1024px) {
  .thumbnail-grid {
      grid-template-columns: repeat(2, minmax(256px, 1fr));
  }
}

@media (max-width: 720px) {
  .thumbnail-grid {
      grid-template-columns: repeat(1, minmax(300px, 1fr));
  }
}

.movie-player {
  aspect-ratio: 16/9;
  width: 100%;
  border: none;
  box-shadow: 0px 0px 80px rgba(0, 0, 0, 1);
  margin-block: 100px;
  overflow: hidden;
}

.movie-player-genre-blob {
  margin: 3px;
  padding-block: 5px;
  padding-inline: 10px;
  background-color: #F5F5F5;
  color: #000000;
  border-radius: 20px;
  font-size: 1em;
}

.hr {
  border-top: 1px solid #F5F5F5;
  margin: 1em 0;
  width: 100%;
}

.movie-player-thumbnail {
  aspect-ratio: 2/3;
  margin-left: 50px;
}

.movie-player-thumbnail img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 300px;
  max-height: 450px;
  min-width: 200px;
}

.movie-player-background-thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#MoviePlayerDescription::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2), /* Dark overlay at the top */
    rgba(0, 0, 0, 0.9) /* Lighter overlay at the bottom */
  );
  z-index: 1;
}