/* .middle-align {
  display: flex;
  place-items: center;
  min-height: 80vh;
} */

.custom-btn {
  color: #f5f5f5;
  background: #CD853F;
  border-radius: 10px;
  border: transparent;
  width: 100%;
  padding-block: 5px;
}

flex-even {
  flex: 1;
}