body {
  text-align: center;
}

/* Orange */
.custom-btn {
  color: #f5f5f5;
  background: #CD853F ;
  border-radius: 10px;
  border: transparent 2px solid;
  width: 100%;
  padding-block: 5px;
}

.custom-btn:hover {
  color: #CD853F;
  background: #f5f5f5;
  border: solid 2px #CD853F;
}

/* White and border */
.custom-btn2 {
  color: #000000;
  background: #f5f5f5;
  border-radius: 10px;
  border: #8B8B8B 1px solid;
  width: 100%;
  height: 50px;
  padding-block: 5px;
}

.search-btn {
  color: #f5f5f5;
  background: #CD853F !important;
  border-radius: 10px;
  border: transparent 2px solid;
  width: 50%;
  padding-block: 5px;
}

.reset-btn {
  color: #000000 !important;
  background: #E1E1E1 !important;
  border-radius: 10px;
  border: transparent 2px solid;
  width: 50%;
  padding-block: 5px;
}

.genre-blob {
  width: auto !important;
  min-width: unset !important;
  max-width: unset !important;
  margin-right: 10px;
  padding-block: 5px;
  padding-inline: 10px;
  background-color: #CD853F;
  color: #f5f5f5;
  border-radius: 20px;
  display: inline-block;
  font-size: 1.5rem;
  cursor : pointer;
  transition: all 0.2s ease;
  white-space: nowrap;
  user-select: none;
}

.genre-blob.selected-genre{
  background-color: #a66c32;
  color: #f5f5f5;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.filter-genre-blob.selected-genre{
  background-color: #86d754;
  color: #f5f5f5;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.filter-genre-blob.excluded-genre{
  background-color: #e55a5a;
  color: #f5f5f5;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.thumbnail-title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to top, rgba(0,0,0,0.7), transparent);
  color: white;
  padding: 8px;
  font-size: 14px;
  text-align: center;
  white-space: normal;
}

.profile-pic {
  min-width: 80px;
  height: 80px;
  overflow: hidden;
}

.headerbar {
  color: #000000;
  font-size: 1.5rem;
}

.logo {
  max-height: 40px;
}

.title {
  font-size: 4rem;
}

#MovieDescriptionTrailer iframe {
  border-radius: 10px;
  width: 100%;
  max-width: 800px;
  min-width: 400px;
  aspect-ratio: 16/9;
}

.header-recommend {
  text-align: left;
  margin-left: 15px;
  font-size: 2.5rem;
}

.scroll-arrow {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  color: #f5f5f5;
}

.thumbnail {
  margin-inline: 12px;
  background-color: #E1E1E1;
  object-fit: cover;
  position: relative;
  aspect-ratio: 2/3;
  overflow: hidden;
  white-space: nowrap;
}

.thumbnail-grid {
  display: grid;
  grid-template-columns: repeat(8, minmax(128px, 1fr));
  row-gap: 15px;
}

.thumbnail img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movie-player {
  aspect-ratio: 16/9;
  width: 100%;
  border: none;
  box-shadow: 0px 0px 80px rgba(0, 0, 0, 1);
  margin-block: 100px;
  overflow: hidden;
}

.movie-player-genre-blob {
  margin: 3px;
  padding-block: 5px;
  padding-inline: 10px;
  background-color: #F5F5F5;
  color: #000000;
  border-radius: 20px;
  font-size: 1em;
}

.movie-description-genre-blob {
  margin: 3px;
  padding-block: 5px;
  padding-inline: 10px;
  background-color: #F5F5F5;
  color: #000000;
  border-radius: 20px;
  font-size: 1em;
}

.video-card-genre-blob {
  margin: 3px;
  padding-block: 5px;
  padding-inline: 10px;
  background-color: #E1E1E1;
  color: #000000;
  border-radius: 20px;
  font-size: 1.5rem;
}

.filter-genre-blob {
  margin: 3px;
  padding-block: 5px;
  padding-inline: 10px;
  background-color: #E1E1E1;
  color: #000000;
  border-radius: 20px;
  font-size: 1.5rem;
}


.hr {
  border-top: 1px solid #F5F5F5;
  margin: 1em 0;
  width: 100%;
}

.movie-description-background-thumbnail {
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  object-fit: cover;
  object-position: 0% 25%;
}

#MovieDescription {
  color: #f5f5f5;
  padding-inline: 100px;
  padding-block: 50px;
  position:relative;
  height: 100vh;
}

#MovieDescription::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.25), /* Dark overlay at the top */
    rgba(0, 0, 0, 1) /* Lighter overlay at the bottom */
  );
  z-index: 1;
}

.movie-description-thumbnail {
  aspect-ratio: 2/3;
}

.movie-description-thumbnail img {
  object-fit: cover;
  max-width: 300px;
  max-height: 450px;
  min-width: 100px;
}

.movie-player-thumbnail {
  aspect-ratio: 2/3;
}

.movie-player-thumbnail img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 300px;
  max-height: 450px;
  min-width: 200px;
}

.video-card-thumbnail {
  aspect-ratio: 2/3;
}

.video-card-thumbnail img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 300px;
  max-height: 450px;
  min-width: 200px;
  border-radius: 10px;
}

.movie-player-background-thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#MoviePlayerDescription {
  color: #f5f5f5;
  padding-inline: 100px;
  padding-block: 50px;
}

#MoviePlayerDescription::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2), /* Dark overlay at the top */
    rgba(0, 0, 0, 0.9) /* Lighter overlay at the bottom */
  );
  z-index: 1;
}

/* ===== Title and Metadata ===== */
.movie-title {
  font-size: 4rem;
  font-weight: normal;
  text-align: left;
  color: white;
}

.movie-stats {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.stats{
  display: flex;
  gap: 5px;
  font-size: 1.25rem;
  white-space: nowrap;
}

.video-card-stats{
  display: flex;
  gap: 5px;
  font-size: 1.25rem;
  white-space: nowrap;
}


.description-page-button {
  font-size: 1.3rem;
  width: 200px;
  background-color: white;
  color: black; 
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.description-page-button:hover {
  background-color: #f0f0f0;
}

.search-results {
  padding-right: 10px;
  border-radius: 20px;
}
.search-results:hover {
  background-color: #E1E1E1;
}

#Contributors p {
  font-size: 1.3rem;
}

#Contributors h3 {
  font-size: 2rem;
}

#Description {
  font-size: 1.2rem;
}

.video-card-movie-title {
  font-size: 2.75rem;
}

.btn-close {
  border: none;
  background-color: transparent;
}

.modal-50w {
  max-width: none !important;
  width: 50%  !important;
}

.modal-content {
  border-radius: 30px !important;  
  border: none !important;
  user-select: none;
}

#AgeRating input {
  margin-top: .8rem !important;
}

.rating-blob {
  border: 2px solid #000000;
  padding: 10px;
  border-radius: 20px;
  background-color: #F5F5F5;
  color: #000000;
  font-size: 1.75rem;
  min-width: 80px;
}

.selected-rating {
  padding: 10px;
  border-radius: 20px;
  background-color: #CD853F;
  color: #F5F5F5;
}

@media (max-width: 1280px) {
  .thumbnail-grid {
      grid-template-columns: repeat(7, minmax(128px, 1fr));
  }
}

@media (max-width: 1152px) {
  .thumbnail-grid {
      grid-template-columns: repeat(6, minmax(128px, 1fr));
  }
}

@media (max-width: 1024px) {
  .thumbnail-grid {
      grid-template-columns: repeat(5, minmax(128px, 1fr));
  }
}

@media (max-width: 896px) {
  .thumbnail-grid {
      grid-template-columns: repeat(4, minmax(128px, 1fr));
  }
}

@media (max-width: 768px) {
  .thumbnail-grid {
      grid-template-columns: repeat(3, minmax(128px, 1fr));
  }
}

@media (max-width: 640px) {
  .thumbnail-grid {
      grid-template-columns: repeat(2, minmax(128px, 1fr));
  }
}

@media (max-width: 512px) {
  .thumbnail-grid {
      grid-template-columns: repeat(1, minmax(128px, 1fr));
  }
}

@media (max-width: 1920px) {
  .genre-blob {
    font-size: 0.8rem;
    padding: 2px 8px;
  }

  .profile-pic {
    min-width: 60px;
    height: 60px;
  }
  .navbar {
    font-size: 1.25rem;
  }
  .logo {
    max-height: 30px;
  }
  .title {
    font-size: 2.5rem;
  }
  .movie-description-thumbnail img{
    object-fit: cover;
    max-width: 175px;
  } 
  .description-page-button {
    font-size: .9rem;
    width: 120px;
    border-radius: 10px;
    padding: 5px 10px;
    white-space: nowrap;
  }
  
  #Contributors p {
    font-size: 1rem;
  }
  
  #Contributors h3 {
    font-size: 1.70rem;
  }
  .movie-description-genre-blob {
    margin: 1px;
    padding-block: 5px;
    padding-inline: 10px;
    font-size: .9rem;
  }
  .stats{
    font-size: 1.2rem;
  }

  #Rating h1{
    font-size: 1.75rem;
  }
  #Rating h3{
    font-size: 1.25rem;
  }

  #Contributors {
    margin-top: 0;
  }

  #Description {
    font-size: 1rem;
  }

  #MovieDescriptionTrailer h2 {
    font-size: 1.25rem;
  }

  .video-card-genre-blob {
    font-size: .8rem;
    margin: 0px;
  }

  .video-card-movie-title {
    font-size: 1.3rem;
  }

  .video-card-rating h1 {
    font-size: 1.75rem;
  }
  .video-card-rating h3 {
    font-size: 1.25rem;
  }

  .search-results-text h1 {
    font-size: 2.25rem;
  }

  .search-results-text h3 {
    font-size: 1.5rem;
  }

  .video-card-stats {
    font-size: .9rem;
  }

}